# -*- mode: sh; -*-
pyversion=3.6.5
pvenv=donation-tracker

use python ${pyversion}
# Create the virtualenv if not yet done
# layout virtualenv ${pyversion} ${pvenv}
# activate it
layout activate ${pvenv}-${pyversion}
