[submodule "tracker_ui"]
	path = tracker-ui
	url = https://github.com/DorkmasterFlek/donation-tracker-ui.git
[submodule "tracker"]
	path = tracker
	url = https://github.com/DorkmasterFlek/donation-tracker.git
