[submodule "tracker_ui"]
    path = tracker_ui
    url = https://github.com/PowerUpWithPride/donation-tracker-ui.git
[submodule "tracker"]
    path = tracker
    url = https://github.com/PowerUpWithPride/donation-tracker.git
